.custom_large{padding: 8px 5px;
              margin-left: 10px;
              width: 90%;
              border: 1px solid #ccc;
              border-radius: 2px;}
label{font-weight: bold;}
.submit{border: 1px solid #333;
        background: #333;
        color: #fff;
        cursor: pointer;
        padding: 5px;
        font-weight: bold;
        width: 200px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;}
.submit:hover{
    border: 1px solid #444;
    background: #444;
}